.tag {
  margin-left: .5em;
}
.article-preview {
  position: relative;
  padding-bottom: 5em;
  margin-bottom: 1em;
  &:after {
    border-bottom: 4px solid;
    bottom: 2em;
    left: 0;
    content: '';
    opacity: .1;
    position: absolute;
    width: 25%;
    max-width: 150px;
  }
}
