.tag {
  margin-left: .5em;
  &:first-child {
    margin-left: 0;
  }
}
.article-preview {
  position: relative;
  padding-bottom: 5em;
  margin-bottom: 1em;
  &:after {
    border-bottom: 4px solid;
    bottom: 2em;
    left: 0;
    content: '';
    opacity: .1;
    position: absolute;
    width: 25%;
    max-width: 150px;
  }
}
.article {
  p:first-child:first-letter {
    @extend .sans;
    float: left;
    font-size: 320%;
    line-height: .8;
    padding-top: .1em;
    padding-right: .1em;
  }
}
.article-meta {
  @extend .list-inline-bullets;
  li:before {
    color: #ccc;
  }
}
