//- Title
update-title(title="{{ title }}")

//- Search engines
update-meta(name="description" content="{{ description }}")

//- Twitter
update-meta(name="twitter:title" content="{{ title }}")
update-meta(name="twitter:description" content="{{ description }}")
//- update-meta(name="twitter:image:src" content="{{ thumbnail }}")

//- Open Graph General (Facebook & Pinterest)
update-meta(property="og:url" content="{{ url }}")
update-meta(property="og:title" content="{{ title }}")
update-meta(property="og:description" content="{{ description }}")
//- update-meta(property="og:image" content="{{ thumbnail }}")
update-meta(property="og:type" content="{{ type || 'website' }}")
