div.pullout.hire-me
  h6 Like what you see?
  p I can help you with your next project, or maybe even work with you.
  ul.list-inline
    li: a(ui-sref="site.profile")
      i.icon.icon-question-sign
      | Find out a bit more about me
    li: a(ui-sref="site.contact")
      i.icon.icon-comments-alt
      | Get in touch
