.reverse.bg-blue.header-offset.vh-50.relative
  .container.center-center
    h1 Let’s talk
    p.lead Have an interesting project? Awesome!
      br
      strong Let’s have a chat about how I can help you.
  .center.bottom.smoked-glass.p-a-2
    .container: small Plus: If you need further man-power on your project, I might know someone to help you out as well.

section.section
  .container
    form.row.container(ng-controller="ContactCtrl" novalidate ng-submit="submitForm()" name="contactForm")
      h4(ng-show="sent") Your message was successfully sent!
      .col-sm-12.col-lg-8.col-lg-push-2(ng-hide="sent")
        .form-group(floating-label="form.name")
          label Full name
          input.form-control(required)
        .form-group(floating-label="form.email")
          label Email Address
          input.form-control(type="email" required)
        .row
          .col-xs-12.col-sm-6
            .form-group(floating-label="form.budget")
              label Budget
              select.c-select.form-control(required)
                option(value="Less than £1,000") Less than £1,000
                option(value="Between £1,000 and £2,500") Between £1,000 and £2,500
                option(value="Between £2,500 and £5,000") Between £2,500 and £5,000
                option(value="More than £5,000") More than £5,000
          .col-xs-12.col-sm-6
            .form-group(floating-label="form.timeline")
              label Timeline
              select.c-select.form-control(required)
                option(value="ASAP or within a few days") ASAP or within a few days
                option(value="A couple of weeks") A couple of weeks
                option(value="A month or two") A month or two
                option(value="Several months") Several months
          .col-xs-12
            .form-group(floating-label="form.enquiry")
              label How can I help you?
              textarea.form-control(elastic required)
        .row
          .col-xs-6
            .relative
              p.small.text-muted.sans All fields are required (sorry).
          .col-xs-6.text-xs-right
            button.btn.btn-sm.btn-block.btn-primary-outline(type="submit" ng-disabled="contactForm.$invalid") Send message

section.section.bg-blue.reverse
  .container
    h4.p-b-3 Contact Details
    .row
      .col-xs-12.col-md-6
        .card.card-block
          i.icon.icon-email.pull-xs-right
          h5.card-title Email
          p.card-text: a hi -at- jppferguson -dot- com
      .col-xs-12.col-md-6
        .card.card-block
          i.icon.icon-phone.pull-xs-right
          h5.card-title Phone
          p.card-text: a +44 7 554 835 935
      .col-xs-12.col-md-6
        .card.card-block
          i.icon.icon-skype.pull-xs-right
          h5.card-title Skype
          p.card-text: a jppferguson
      .col-xs-12.col-md-6
        .card.card-block
          i.icon.icon-twitter.pull-xs-right
          h5.card-title Twitter
          p.card-text: a @jppferguson
      .col-xs-12.col-md-6
        .card.card-block
          i.icon.icon-linked-in.pull-xs-right
          h5.card-title LinkedIn
          p.card-text: a @jppferguson

section.section
  .container
    .row(ng-controller="CVCtrl")
      .col-lg-8.col-lg-push-2
        a.btn.btn-md.btn-primary(href="{{ cvURL }}") Download my CV
