meta-tags(title="Contact" description="Have an interesting project? Awesome! Let’s have a chat about how I can help you.")
.page-header.reverse.header-offset.vh-50.relative(header-height background-colour="{{ page.custom_meta.header_colour }}" background-colour-header)
  .container.center-center
    h1(ng-bind-html="page.title.rendered")
    p(ng-repeat="line in (page.custom_meta.subheader | newlines) track by $index" ng-class="{lead: $index === 0}" ng-bind-html="line | markdown")
  .center.bottom.smoked-glass.p-2(ng-show="page.custom_meta.header_note")
    .container: small(ng-bind-html="page.custom_meta.header_note")

section.section
  .container
    form.row.container(ng-controller="ContactCtrl" novalidate ng-submit="submitForm()" name="contactForm")
      h4(ng-show="sent") Your message was successfully sent!
      .col-sm-12.col-lg-8.push-lg-2(ng-hide="sent")
        .row
          .col-xs-12
            .form-group(floating-label="form.name")
              label Full name
              input.form-control(required)
          .col-xs-12
            .form-group(floating-label="form.email")
              label Email Address
              input.form-control(required)
          .col-xs-12.col-sm-6
            .form-group(floating-label="form.budget")
              label Budget
              input.form-control(required)
          .col-xs-12.col-sm-6
            .form-group(floating-label="form.timeline")
              label Timeline
              select.custom-select.form-control(required)
                option(value="ASAP or within a few days") ASAP or within a few days
                option(value="A couple of weeks") A couple of weeks
                option(value="A month or two") A month or two
                option(value="Several months") Several months
          .col-xs-12
            .form-group(floating-label="form.enquiry")
              label How can I help you?
              textarea.form-control(elastic required)
        .row
          .col-xs-6
            .relative
              p.small.text-muted.sans All fields are required (sorry).
          .col-xs-6.text-xs-right
            button.btn.btn-sm.btn-block.btn-outline-primary(type="submit" ng-disabled="contactForm.$invalid") Send message

section.section.reverse(background-colour="{{ page.custom_meta.header_colour }}")
  .container
    h4.pb-3 Contact Details
    .row
      .col-xs-12.col-md-8
        ul.list-icon-bullets
          li: a(href="mailto:hi@jppferguson.com")
            i.icon.icon-email
            | hi@jppferguson.com
          li: a(href="tel:+44 7 554 835 935")
            i.icon.icon-phone
            | +44 7 554 835 935
          li: a(href="skype:jppferguson")
            i.icon.icon-skype
            | jppferguson
          li: a(href="http://twitter.com/jppferguson")
            i.icon.icon-twitter
            | @jppferguson

      .col-xs-12.col-md-4(ng-controller="CVCtrl")
        a.btn.btn-sm.btn-block.btn-outline-primary.mb-1(href="{{ cvURL }}")
          i.icon.icon-download
          | Download my CV

        div
          a.btn.btn-xs.btn-block.btn-link(href="http://linkedin.com/in/jppferguson")
            i.icon.icon-linkedin
            | LinkedIn Profile
