.reverse.bg-home.header-offset.vh-90.relative
  .container.center-center
    h1.bold Hi, I’m Jamie.
    p.h2 I specialise in
      em=" crafting "
      | digital experiences.
    .p-t-3: a.btn.btn-primary-outline(ui-sref="site.work.index") View some work I've done
  .center.bottom.p-a-2: small.text-muted.sans or scroll for more

section.section.bg-dark.reverse
  .container(ng-controller="WorkCtrl")
    .row
      .col-md-12
        h3 Featured Case Studies
      .col-md-6(ng-repeat="item in items | limitTo:2" ng-hide="isLoading")
        .tile(style="background-color:{{item.header_colour}};")
          a.tile-link.non-text-link(ui-sref="site.work.post({slug: item.slug})")
          img.tile-img(ng-src="{{item.featured_image_thumbnail_url}}")
          .tile-content
            h3(ng-bind-html="item.title.rendered") {{ item.title.rendered }}
            p {{ item.custom_meta.subheader }}
    .row
      .col-md-12
        a.btn.btn-primary-outline(ui-sref="site.work.index") All Work


section.section.bg-light.bg-journal
  .container(ng-controller="JournalCtrl")
    h3 Journal
    article.article-preview(ng-repeat="article in articles" ng-hide="isLoading")
      h2
        a(ui-sref="site.journal.post({slug: article.slug})" ng-bind-html="article.title.rendered") {{ article.title.rendered }}
      p About a {{ article.readingTime }} read from
        = ' '
        em {{ article.date | date:format:'mediumDate' }}.
        a.tag(ng-repeat="tag in article.tags" ui-sref="site.journal.tag({tag: tag.name})" ng-show="article.tags[0]") \#{{tag.name}}
    a.btn.btn-primary-outline(ui-sref="site.journal.index") All Articles

section.section.bg-green.bg-profile.reverse
  .container(ng-controller="PageCtrl")
    h3 Profile
    div(ng-bind-html="article.excerpt.rendered") {{article.excerpt.rendered}}
    a.btn.btn-primary-outline(ui-sref="site.profile") Also I like cats
