meta-tags(title="Journal" description="{{ article.excerpt.rendered }}" type="article" thumbnail="{{ page.featured_image_thumbnail_url }}")
.page-header.reverse.bg-dark.header-offset.vh-50.relative(header-height)
  .image-header(background-image="{{ article.featured_image_thumbnail_url }}" background-position="{{ article.custom_meta.header_focus }}" background-colour="dark" background-colour-header)
  .container.center-center
    h1(ng-bind-html="article.title.rendered")
    ul.article-meta
      li: date {{ article.date | date:format:'mediumDate' }}
      li {{ article.readingTime }}
      li
        a.tag(ng-repeat="tag in article.tags" ui-sref="site.journal.tag({tag: tag.name})" ng-show="article.tags[0]") \#{{tag.name}}

section.section
  .container
    .row
      .col-xs-12.col-lg-8.push-lg-2
        article.article(ng-bind-html="article.content.rendered" page-content)

    hr

    .row
      disqus.col-xs-12.col-lg-8.push-lg-2(disqus-shortname="jppferguson" disqus-identifier="{{ article.id }}" disqus-title="{{ article.title.rendered }}" disqus-url="{{ article.url }}")

  hr.hr-full

  .container

    .row
      .col-xs-4.text-xs-left
        a.btn.btn-sm.btn-link(ui-sref="site.journal.post({ slug: article.adjacent_posts.prev.post_name })" ng-show="article.adjacent_posts.prev") &larr; Previous Article
        button.btn.btn-sm.btn-link.text-xs-left(type="button" ng-hide="article.adjacent_posts.prev" disabled) &larr; Previous Article
      .col-xs-4.text-center
        a.btn.btn-sm.btn-link.btn-block(ui-sref="site.journal.index") All Articles
      .col-xs-4.text-xs-right
        a.btn.btn-sm.btn-link(ui-sref="site.journal.post({ slug: article.adjacent_posts.next.post_name })" ng-show="article.adjacent_posts.next") Next Article &rarr;
        button.btn.btn-sm.btn-link(type="button" ng-hide="article.adjacent_posts.next" disabled) Next Article &rarr;
