meta-tags(title="Journal" description="Posts tagged '{{tag}}', by Jamie Ferguson.")
.reverse.bg-green.header-offset.vh-50.relative(header-height)
  .container.center-center
    h1 Journal
    p.lead Posts tagged
      = " '"
      em {{tag}}
      | '

section.section
  .container
    .row
      .col-lg-8.col-lg-push-2
        article(ng-repeat="article in articles" ng-hide="isLoading")
          h2.h1
            a(ui-sref="site.journal.post({slug: article.slug})" ng-bind-html="article.title.rendered") {{article.title.rendered}}
          p About a {{ article.readingTime }} read from {{ article.date | date:format:'mediumDate' }}.
            a.tag(ng-repeat="tag in article.tags" ui-sref="site.journal.tag({tag: tag.name})" ng-show="article.tags[0]") \#{{tag.name}}
