meta-tags(title="{{ page.title.rendered }}" description="{{ page.custom_meta.subheader }}")
.page-header.reverse.header-offset.vh-50.relative.bg-journal-reverse(header-height background-colour="{{ page.custom_meta.header_colour }}" background-colour-header)
  .container.center-center
    h1(ng-bind-html="page.title.rendered")
    p(ng-repeat="line in (page.custom_meta.subheader | newlines) track by $index" ng-class="{lead: $index === 0}" ng-bind-html="line")
  .center.bottom.smoked-glass.p-a-2(ng-show="page.custom_meta.header_note")
    .container: small(ng-bind-html="page.custom_meta.header_note")

section.section
  .container
    article.article-preview(ng-repeat="article in articles")
      h2.display-3
        a(ui-sref="site.journal.post({slug: article.slug})" ng-bind-html="article.title.rendered" prevent-orphans) {{article.title.rendered}}
      ul.article-meta
        li: date {{ article.date | date:format:'mediumDate' }}
        li {{ article.readingTime }}
        li
          a.tag(ng-repeat="tag in article.tags" ui-sref="site.journal.tag({tag: tag.name})" ng-show="article.tags[0]") \#{{tag.name}}
