meta-tags(title="Journal" description="{{ article.excerpt.rendered }}" type="article")
.reverse.bg-green.header-offset.vh-50.relative(header-height)
  .container.center-center(ng-hide="isLoading")
    h1(ng-bind-html="article.title.rendered") {{ article.title.rendered }}
    p.lead About a {{ article.readingTime }} read from
      = ' '
      em {{ article.date | date:format:'mediumDate' }}.
    a.tag(ng-repeat="tag in article.tags" ui-sref="site.journal.tag({tag: tag.name})" ng-show="article.tags[0]") \#{{tag.name}}

section.section
  .container
    .row
      .col-xs-12.col-lg-8.col-lg-push-2(ng-hide="isLoading")
        article.article(ng-bind-html="article.content.rendered" highlight) {{article.content.rendered}}

    hr

    .row
      .col-xs-12.col-lg-8.col-lg-push-2(disqus="article.id")

  hr.hr-full

  .container

    .row
      .col-xs-4.text-xs-left
        a.btn.btn-sm.btn-link(ui-sref="site.journal.post({ slug: article.adjacent_posts.prev.post_name })" ng-show="article.adjacent_posts.prev") &larr; Previous Article
        button.btn.btn-sm.btn-link.text-xs-left(type="button" ng-hide="article.adjacent_posts.prev" disabled) &larr; Previous Article
      .col-xs-4.text-center
        a.btn.btn-sm.btn-link.btn-block(ui-sref="site.journal.index") All Articles
      .col-xs-4.text-xs-right
        a.btn.btn-sm.btn-link(ui-sref="site.journal.post({ slug: article.adjacent_posts.next.post_name })" ng-show="article.adjacent_posts.next") Next Article &rarr;
        button.btn.btn-sm.btn-link(type="button" ng-hide="article.adjacent_posts.next" disabled) Next Article &rarr;
