.reverse.bg-green.header-offset.vh-50.relative(header-height)
  .container.center-center
    h1 Profile
    p.lead I create engaging experiences that are a pleasure to use.
    p Also I like cats.
  .bottom
    .center-center
      img.profile-img.img-circle(src="/assets/img/jamie-ferguson.jpg")

section.section
  .container
    .row
      .col-lg-8.col-lg-push-2
        p.lead I’m Jamie Ferguson, a freelance Creative Developer working in London, UK.
        div(ng-bind-html="page.content.rendered") {{ page.content.rendered }}
