footer.footer.section.reverse.bg-dark.text-xs-center.text-md-left
  .container
    .row
      .col-md-3.col-xs-6.text-xs-right.text-md-left
        ul.list-no-bullets.sans
          li: a(ui-sref="site.index") Home
          li: a(ui-sref="site.work.index") Work
          li: a(ui-sref="site.profile") Profile
          li: a(ui-sref="site.journal.index") Journal
          li: a(ui-sref="site.contact") Contact
      .col-md-3.col-xs-6.text-xs-left
        ul.list-no-bullets.sans
          li: a(href="http://github.com/jppferguson") Github
          li: a(href="http://twitter.com/jppferguson") Twitter
          li: a(href="http://codepen.com/jppferguson") Codepen
          li: a(href="http://pinboard.com/jppferguson") Pinboard
          li: a(href="http://instagram.com/jppferguson") Instagram
          li: a(href="http://twitter.com/jppferguson") Twitter

      .col-md-6.col-xs-12
        h5 Thanks a bunch for stopping by!
        p If you’re looking for some other interesting bits &amp; pieces, you can check out my
          =' '
          a(href="http://github.com/jppferguson/dotfiles") Dotfiles
          =', '
          a(href="/stuff-i-use/") Stuff I use
          =', or '
          a(href="http://me.jppferguson.com") a feed of what I’ve been up to
          | .
  hr.hr-full
  .container
    .copyright
      p.inline.text-muted Copyright &copy; 1987 – 2015 Jamie Ferguson. All Rights Reserved.
      ul.inline.list-inline-bullets
        li: a(ui-sref="site.privacy") Privacy Policy
        li: a(ui-sref="site.legals") Legal Notice
        li: a(ui-sref="site.sitemap") Sitemap
        li: a(ui-sref="site.styleguide") Style Guide
