header.header(ng-controller="HeaderCtrl" ng-class="{ 'nav-open': nav.isOpen, 'nav-fixed': nav.isFixed, 'nav-in-view': nav.inView }")
  nav.main-nav(main-nav)
    .ferg-burger.hidden-md-up.pull-xs-right(ng-click="nav.isOpen = !nav.isOpen; nav.isFixed")
      i.om
      i.nom
      i.nom
    .brand
      a.non-text-link(ui-sref-active="active" ui-sref="site.index")
        span.logo
        span.text-wrap
          span.text Jamie Ferguson
          br
          span.text Creative Developer
    .nav
      ul.list-inline.pull-sm-right.sans
        li: a(ui-sref-active="active" ui-sref="site.work.index" ui-sref-active-if="site.work") Work
        li: a(ui-sref-active="active" ui-sref="site.profile") Profile
        li: a(ui-sref-active="active" ui-sref="site.journal.index" ui-sref-active-if="site.journal") Journal
        li: a(ui-sref-active="active" ui-sref="site.contact") Contact

