meta-tags(title="Work" description="Here are some projects I’ve worked on. Go on — pick one.")
.reverse.bg-blue.header-offset.vh-50.relative(header-height)
  .container.center-center
    h1 Work
    p.lead Here are some projects I’ve worked on.
    p Go on — pick one.

section.section.vh-50.bg-dark.reverse.relative(ng-repeat="item in items | limitTo:featuredImages" ng-hide="isLoading" background-colour="{{ item.custom_meta.header_colour }}" ng-class="{ 'bg-blue': !item.custom_meta.header_colour }")
  .container
    .row.flex-center
      .col-md-6(ng-show="item.featured_image_thumbnail_url" ng-class="{'col-md-push-6': $index % 2 }")
        .img-window
          i
          a(ui-sref="site.work.post({slug: item.slug})")
            img.img-fluid(ng-src="{{item.featured_image_thumbnail_url}}" ng-show="item.featured_image_thumbnail_url")
          ul.list-inline.icons
            li(ng-repeat="tag in item.taxonomies_list.technology")
              i(class="icon icon-{{ tag.slug }}")
      .work-content(ng-class="{ 'col-md-pull-6': $index % 2 && item.featured_image_thumbnail_url, 'col-md-6': item.featured_image_thumbnail_url, 'col-md-12': !item.featured_image_thumbnail_url }")
        h2.h1
          a(ui-sref="site.work.post({slug: item.slug})" ng-bind-html="item.title.rendered" prevent-orphans) {{item.title.rendered}}
        p.lead {{ item.custom_meta.subheader }}
        a.btn.btn-sm.btn-primary-outline(ui-sref="site.work.post({slug: item.slug})") Find out more

section.section.relative
  .container
    h4.p-b-3 From the Archive
    article.article-preview.clearfix(ng-repeat="item in items | limitTo : 10 : featuredImages" ng-hide="isLoading" style="background-color:{{item.header_colour}};")
      .row.flex-center
        .col-xs-4.col-md-3
          a(ui-sref="site.work.post({slug: item.slug})")
            img.img-circle.img-fluid.img-drop.pull-xs-left(ng-src="{{item.featured_image_thumbnail_url}}" ng-show="item.featured_image_thumbnail_url")
        .col-xs-8.col-md-9
          h3: a(ui-sref="site.work.post({slug: item.slug})" ng-bind-html="item.title.rendered") {{item.title.rendered}}
          p {{ item.custom_meta.subheader }}
          a.btn.btn-xs.btn-primary-outline(ui-sref="site.work.post({slug: item.slug})") Find out more
