.reverse.bg-green.header-offset.vh-50.relative
  .container.center-center
    h1 Work
    p.lead Here are some projects I’ve worked on.
    p Go on — pick one.

section.section.vh-50.bg-dark.reverse.relative(ng-repeat="item in items | limitTo:featuredImages" ng-hide="isLoading" background-colour="{{ item.custom_meta.header_colour }}" ng-class="{ 'bg-blue': !item.custom_meta.header_colour }")
  .container
    .row.flex-center
      .col-md-6(ng-show="item.featured_image_thumbnail_url" ng-class="{'col-md-push-6': $index % 2 }")
        .img-window
          i
          a(ui-sref="site.work.post({slug: item.slug})")
            img.img-fluid(ng-src="{{item.featured_image_thumbnail_url}}" ng-show="item.featured_image_thumbnail_url")
      div(ng-class="{ 'col-md-pull-6': $index % 2 && item.featured_image_thumbnail_url, 'col-md-6': item.featured_image_thumbnail_url, 'col-md-12': !item.featured_image_thumbnail_url }")
        h2.h1
          a(ui-sref="site.work.post({slug: item.slug})" ng-bind-html="item.title.rendered") {{item.title.rendered}}
        p.lead {{ item.custom_meta.subheader }}
        a.btn.btn-sm.btn-primary-outline(ui-sref="site.work.post({slug: item.slug})") Find out more

section.section.bg-dark.reverse.relative
  .container
    h4.p-b-3 From the Archive
    article.article-preview(ng-repeat="item in items | limitTo : 10 : featuredImages" ng-hide="isLoading" style="background-color:{{item.header_colour}};")
      h2: a(ui-sref="site.work.post({slug: item.slug})" ng-bind-html="item.title.rendered") {{item.title.rendered}}
      p {{ item.subheader }}
      a.btn.btn-sm.btn-primary-outline(ui-sref="site.work.post({slug: item.slug})") Find out more
