.reverse.bg-green.header-offset.vh-50.relative(background-image="{{ item.featured_image_thumbnail_url }}" background-colour="{{ item.custom_meta.header_colour }}")
  .container.center-center(ng-hide="isLoading")
    h1(ng-bind-html="item.title.rendered") {{ item.title.rendered }}
    p.lead {{ item.custom_meta.subheader }}

section.section(ng-hide="isLoading")
  .container
    .row
      .col-lg-8
        div(ng-bind-html="item.content.rendered") {{ item.content.rendered }}
        aside(like-what-you-see)
      .col-lg-4
        .card
          .card-header.sans
            | Key Facts
          .list-group.list-group-flush
            .list-group-item
              h5.list-group-item-heading Date
              p.list-group-item-text {{ item.date | date: 'MMMM yyyy' }}
            .list-group-item(ng-repeat="(taxonomy_name, taxonomy) in item.taxonomies_list" ng-show="taxonomy[0]")
              h5.list-group-item-heading {{ taxonomy_name }}
              ul.list-group-item-text.list-no-bullets
                li(ng-repeat="tag in taxonomy") {{ tag.name }}
          .card-block
            a.card-link.btn.btn-sm.btn-primary.btn-block(href="{{ item.custom_meta.url }}" ng-hide="item.custom_meta.online === false || !item.custom_meta.url") Visit site &rarr;
            i(ng-show="item.custom_meta.online === 'false'") Site offline :'(

    .row
      .col-sm-4
        a.btn.btn-sm.btn-primary(ui-sref="site.work.post({ slug: item.adjacent_posts.prev.post_name })" ng-show="item.adjacent_posts.prev") &larr; Previous
      .col-sm-4.text-center
        a.btn.btn-sm.btn-primary(ui-sref="site.work.index") All Work
      .col-sm-4.text-right
        a.btn.btn-sm.btn-primary(ui-sref="site.work.post({ slug: item.adjacent_posts.next.post_name })" ng-show="item.adjacent_posts.next") Next &rarr;
