meta-tags(title="Work" description="Here are some projects I’ve worked on. Go on — pick one.")
.page-header.reverse.header-offset.vh-50.relative(header-height background-colour="{{ page.custom_meta.header_colour }}" background-colour-header)
  .container.center-center
    h1(ng-bind-html="page.title.rendered")
    p(ng-repeat="line in (page.custom_meta.subheader | newlines) track by $index" ng-class="{lead: $index === 0}" ng-bind-html="line")

  .center.bottom.smoked-glass.p-2(ng-show="page.custom_meta.header_note")
    .container: small(ng-bind-html="page.custom_meta.header_note")

section.section.work-section.vh-70.bg-dark.reverse.relative(ng-repeat="item in items | limitTo:featuredImages" background-colour="{{ item.custom_meta.header_colour }}" ng-class="{ 'bg-blue': !item.custom_meta.header_colour, active: activeElement === $index }" in-view="elementInView($index, $inview, $inviewpart, $event)")
  .container
    .row
      .col-md-12.center(ng-show="item.featured_image_thumbnail_url")
        .work-content.col-md-12
          h2.h1
            a(ui-sref="site.work.post({slug: item.slug})" ng-bind-html="item.title.rendered")
          p.lead(prevent-orphans) {{ item.custom_meta.subheader }}
          a.btn.btn-sm.btn-outline-primary(ui-sref="site.work.post({slug: item.slug})") Find out more

        a.non-text-link(ui-sref="site.work.post({slug: item.slug})")
          div(device="{{item.custom_meta.featured_device}}")
            img.img-full-size(ng-src="{{item.featured_image_thumbnail_url}}" ng-show="item.featured_image_thumbnail_url")
          //- i
          //- ul.list-inline.icons
            li(ng-repeat="tag in item.taxonomies_list.technology")
              i(class="icon icon-{{ tag.slug }}")

section.section.relative
  .container
    h4.pb-3 From the Archive
    article.article-preview.clearfix(ng-repeat="item in items | limitTo : 10 : featuredImages" style="background-color:{{item.header_colour}};")
      .row.flex-center
        .col-xs-4.col-md-3
          a.non-text-link(ui-sref="site.work.post({slug: item.slug})")
            img.img-circle.img-fluid.img-drop.pull-xs-left(ng-src="{{item.featured_image_thumbnail_urls.thumbnail_work}}" ng-show="item.featured_image_thumbnail_urls.thumbnail_work")
        .col-xs-8.col-md-9
          h3: a(ui-sref="site.work.post({slug: item.slug})" ng-bind-html="item.title.rendered") {{item.title.rendered}}
          p {{ item.custom_meta.subheader }}
          a.btn.btn-xs.btn-outline-primary(ui-sref="site.work.post({slug: item.slug})") Find out more
