.btn {
  @extend .sans, .non-text-link;
  transition: 200ms ease;
  text-decoration: none;
}
.reverse .btn {
  border: solid 2px $colour-reverse-text;
  &:hover {
    background: $colour-reverse-text;
    color: $colour-reverse-background;
  }
}
.btn-xs {
  font-size: .6rem;
  padding: $btn-padding-y-sm $btn-padding-x-sm;
  line-height: 1.2;
}
