.section {
  background-color: $block-default-background;
}

@each $colour, $bgcolour in $background-colours {
  .bg-#{$colour},
  .page-header.bg-#{$colour} { background-color: $bgcolour; }
}

.bg-home {
  background: $colour-background-dark url(../img/bg-home.jpg) no-repeat 50% 50%;
  background-size: cover;
  text-shadow: 0 0 10px rgba(0,0,0,.2);
}
.bg-journal {
  background-image: url(../img/bg-journal.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
}
.bg-profile {
  background-image: url(../img/bg-profile.png);
  background-repeat: no-repeat;
  background-position: -1% 50%;
}

.reverse {
  color: $colour-reverse-text;
  a {
    color: $colour-reverse-link;
  }
  .card {
    background-color: rgba(0,0,0,.1);
    border-color: rgba(0,0,0,.2);
  }
}
