@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Alegreya:400,400italic,600|Alegreya+SC:400,400italic,700);

/* Responsive typography */
@include media-breakpoint-up(sm) {
  html { font-size: $font-size-root-sm-up; }
}
@include media-breakpoint-up(md) {
  html { font-size: $font-size-root-md-up; }
}
@include media-breakpoint-up(lg) {
  html { font-size: $font-size-root-lg-up; }
}


body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.sans {
  font-family: $font-family-sans-serif;
  text-transform: uppercase;
  letter-spacing: .05em;
}
.h1, .h2, .h3, .h4, .h5, .h6,
 h1,  h2,  h3,  h4,  h5,  h6 {
  @extend .sans;
}
.display-1, .display-2, .display-3, .display-4 {
  font-family: $font-family-serif;
  letter-spacing: normal;
  text-transform: none;
  a {
    font-weight: inherit;
  }
}

a {
  color: #555;
  font-weight: bold;
  position: relative;
  text-decoration: none;
  transition: all 150ms ease-in-out;
  // &.text-link:hover:after,
  &:after {
    border-bottom: solid .075em;
    opacity: 0;
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 0%;
    transition: all 200ms ease-in-out;
  }
  &:hover,
  &:active,
  &:focus {
    outline: none;
    text-decoration: none;
  }
  &:hover:after,
  &:active:after,
  &:focus:after,
  &.active:after {
    opacity: .4;
    width: 100%;
  }
}
a.non-text-link:after,
.non-text-link a:after {
  display: none;
}

hr {
  background: none;
  border: solid #ddddd9;
  border-width: 3px 0 0;
  max-width: 200px;
  margin: 3rem auto;
  &.hr-full {
    border-width: 2px 0 0;
    max-width: 100%;
  }
  .reverse & {
    border-color: $gray;
  }
}

.bold {
  font-weight: 600;
}
.inline {
  display: inline;
  padding-left: 0;
}
.center { text-align: center; }
.list-inline li { display: inline; }
.list-no-bullets {
  padding-left: 0;
  li {
    list-style: none;
  }
}
.list-icon-bullets {
  @extend .list-no-bullets;
  padding-left: 1.5em;
  li {
    position: relative;
    .icon {
      opacity: .4;
      left: -1.5em;
      width: 1em;
      text-align: center;
      position: absolute;
      line-height: 2;
    }
  }
}
.list-inline-bullets {
  padding-left: 0;
  li {
    display: inline;
    &:before {
      color: $gray;
      content: '•';
      margin: 0 .5em;
    }
    &:first-child {
      &:before {
        display: none;
      }
    }
  }
}

.btn-text {
  position: relative;
  text-decoration: none;
  &:after {
    content: '→';
    opacity: 0;
    position: relative;
    left: .2em;
    transition: 150ms ease-in-out;
  }
  &:hover:after {
    opacity: 1;
    left: .5em;
  }
}
