
//- Search engines
meta(name="description" content="I specialise in crafting digital experiences.")

//- Google Plus
meta(itemprop="name" content="Jamie Ferguson")
meta(itemprop="description" content="I specialise in crafting digital experiences.")
//- meta(itemprop="image" content="/thumbnail.jpg")

//- Twitter
meta(name="twitter:card" content="summary")
meta(name="twitter:title" content="Jamie Ferguson")
meta(name="twitter:description" content="I specialise in crafting digital experiences.")
meta(name="twitter:creator" content="@jppferguson")
//- meta(name="twitter:image:src" content="/thumbnail.jpg")

//- Open Graph General (Facebook & Pinterest)
meta(property="og:url" content="http://jppferguson.com")
meta(property="og:title" content="Jamie Ferguson")
meta(property="og:description" content="I specialise in crafting digital experiences.")
meta(property="og:site_name" content="Jamie Ferguson")
//- meta(property="og:image" content="/thumbnail.jpg")
meta(property="fb:admins" content="676998130")
meta(property="og:type" content="website")
meta(property="og:locale" content="en_UK")
